<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.fuyuan.dao.ServiceDao">

<resultMap type="com.fuyuan.entity.ServiceBean" id="serviceMap">
	<result column="ServiceId" property="serviceId" jdbcType="INTEGER" />
	<result column="ServiceName" property="serviceName" jdbcType="VARCHAR" />
	<result column="CenterType" property="centerType" jdbcType="VARCHAR" />
</resultMap>

<sql id="serviceWhereClause">
	<where>
		<if test="centerType!=null and centerType!=''">
			CenterType = #{centerType}
		</if>
		<if test="serviceName!=null and serviceName!=''">
			ServiceName LIKE CONCAT(CONCAT('%', #{serviceName}),'%')
		</if>
	</where>
</sql>

<!-- 查询全部的客户 -->
<select id="search" 
    resultType="com.fuyuan.entity.ServiceBean">
    select * from t_service
    <include refid="serviceWhereClause"/>
</select>

</mapper>