<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.fuyuan.dao.ServiceDao">

<resultMap type="com.fuyuan.entity.ServiceBean" id="serviceMap">
	<result column="ServiceId" property="serviceId" jdbcType="INTEGER" />
	<result column="ServiceName" property="serviceName" jdbcType="VARCHAR" />
	<result column="CenterType" property="centerType" jdbcType="VARCHAR" />
</resultMap>

<sql id="serviceWhereClause">
	<where>
		<if test="centerType!=null and centerType!=''">
			CenterType = #{centerType}
		</if>
		<if test="serviceName!=null and serviceName!=''">
			AND ServiceName LIKE CONCAT(CONCAT('%', #{serviceName}),'%')
		</if>
	</where>
</sql>

<resultMap type="com.fuyuan.entity.RoomBean" id="roomMap">
	<result column="roomId" property="roomId" jdbcType="INTEGER" />
	<result column="roomNumber" property="roomNumber" jdbcType="VARCHAR" />
	<result column="center" property="center" jdbcType="VARCHAR" />
	<result column="roomType" property="roomType" jdbcType="VARCHAR" />
</resultMap>

<sql id="roomWhereClause">
	<where>
		<if test="roomId!=null and roomId!=0">
			roomId = #{roomId}
		</if>
		<if test="center!=null and center!=''">
			AND center = #{center}
		</if>
		<if test="roomType!=null and roomType!=''">
			AND roomType = #{roomType}
		</if>
	</where>
</sql>

<!-- -->
<select id="serviceSearch" 
    resultType="com.fuyuan.entity.ServiceBean">
    select * from t_service
    <include refid="serviceWhereClause"/>
</select>

<!-- -->
<select id="roomSearch" 
    resultType="com.fuyuan.entity.RoomBean">
    select * from t_service_room
    <include refid="roomWhereClause"/>
</select>

</mapper>